:root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --background-color: #D9D9D9;
    --text-color: #141615E5;
    --footer-bg: #262927e5;
    --font-primary: "ABeeZee", sans-serif;
    --font-secondary: "Abhaya Libre", sans-serif;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 24px;
    --font-size-xlarge: 30px;
    --font-size-xxlarge: 50px;
    --font-size-xxxlarge: 60px;
    --border-radius: 45px;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 40px;
    --font-weight-usual: 400;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

.afacad-flux-font {
  font-family: "ABeeZee", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

header {
    display: flex;
    padding: 0px 20px 0px 40px;
    margin: 0;
    top: 0;
    align-items: center;
    justify-content: space-between;
}

header > img {
    width: 30px;
    height: 30px;
}

header > nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.hero {
    position: relative;
    text-align: center;
}

#lista1 {
    justify-content: start;
}

#lista2 {
    justify-content: end;
}

.nav-list {
    display: flex;
    width: 100%;
    list-style: none;
}

nav > ul > li {
    padding-right: 40px;
}

a {
    color: var(--secondary-color);
    font-weight: 600;
    text-decoration: none;
}

.menu {
    display: none;
    width: 30px;
    height: 30px;
}

.texto_portada {
    font-family: var(--font-secondary);
    position: absolute;
    left: 40px; 
    color: var(--primary-color);
    font-weight: var(--font-weight-usual);
}

#contenedor_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: stretch;
}

.li_contenedor_2 {
    width: 90%;
    height: auto;
    background-color: var(--background-color);
    border-radius: 15px;
    list-style: none;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-weight-usual);
    margin-top: 40px;
}

.top_margin {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row > h2 {
    font-size: 30px;
    font-weight: var(--font-weight-usual);
    line-height: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 10px;
    padding-top: 0;
}

.row > h4 {
    font-size: 16px;
    font-weight: var(--font-weight-usual);
}

.img_contenedor_2 {
    width: 100%;
    height: 360px;
    object-fit: contain;
}

.btn_contenedor_2 {
    padding: 12px;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
}

/* Estilos para los botones de color */
.color-button {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 20px;
    border-color: var(--primary-color);
    margin-left: 10px;
}

.color-button--grey { background-color: #C5C5C5; }
.color-button--red { background-color: #B20000; }
.color-button--blue { background-color: #0010A1; }
.color-button--black { background-color: #000000; }
.color-button--yellow { background-color: #E2C324; }
.color-button--dark-red { background-color: #A10000; }
.color-button--navy { background-color: #515F91; }
.color-button--dark-red-2 { background-color: #AE3F3F; }

/* Estilos para la sección de dealer */
.dealer-section {
    margin-top: 50px;
}

.dealer-content {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    width: 60%;
    font-weight: var(--font-weight-usual);
}

.dealer-title {
    font-size: 85px;
    margin-top: 0;
    font-weight: var(--font-weight-usual);
}

.dealer-subtitle {
    font-size: 25px;
    margin-top: 0;
    max-width: 500px;
    line-height: 25px;
}

.lights-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lights-content {
    background-color: #A2A2A282;
    padding: 25px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin-left: 50px;
    max-width: 460px;
}

.lights-title {
    font-size: 50px;
    margin-top: 0;
    color: var(--primary-color);
    font-weight: var(--font-weight-usual);
}

.lights-button {
    background-color: var(--primary-color);
    border-radius: 80px;
    padding: 21px 31px 18px 31px;
    font-size: 14px;
    margin: 0;
    border: none;
    font-weight: var(--font-weight-usual);
}

.lights-image {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

/* Estilos para la sección de tentación */
.tentation-section {
    overflow: hidden;
}

.tentation-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.tentation-image {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}


/* Slider */
.slick-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px;
    line-height: 0.8;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.slick-slide {
    flex: 0 0 auto;
    width: 600px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    scroll-snap-align: start;
}

.slick-slide > h2 {
    font-size: 30px;
    text-align: left;
    font-weight: var(--font-weight-usual);
}

.slick-slide img {
    width: 600px;
    height: 295.63px;
    padding: 10px 0 0 0;
}

.btn_more_info {
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 12px 23.7px 12px 22.5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.slick-slider::-webkit-scrollbar {
    width: 13px;
    height: 15px;
}

.slick-slider::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 13px;
}

.slick-slider::-webkit-scrollbar-thumb {
    background: #949494;
    border-radius: 6px;
}
/* Slider */

/* Texto sobre imagen coche rojo */
.text-overlay {
    position: absolute;
    bottom: 70px;
    left: 135px;
    width: 40%;
    padding: 10px;
    color: var(--primary-color);
}

.text-overlay h4 {
    margin: 0;
    font-size: 55px;
    font-weight: var(--font-weight-usual);
}

.text-overlay p {
    margin: 5px 0 0 0;
    font-size: 15px;
    padding-right: 31px;
    max-width: 310px;
    font-weight: var(--font-weight-usual);
}
/* Texto sobre imagen coche rojo */

/* mercedes-maybach */
.mercedes-maybach {
    font-family: "Abhaya Libre", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 91px 43px 91px 43px;
    background-color: #f9f9f9;
}

.wheels-content {
    max-width: 50%;
    margin-left: 75px;
}

.wheels-content h4 {
    font-size: var(--font-size-xxxlarge);
    line-height: 50px;
    font-weight: var(--font-weight-usual);
    color: var(--text-color);
}

.wheels-content p {
    font-size: var(--font-size-medium);
    color: var(--text-color);
    line-height: 21px;
    font-weight: var(--font-weight-usual);
    max-width: 450px;
}

.learn-more {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    color: #141615E5;
    text-decoration: none;
    font-weight: var(--font-weight-usual);
}

.wheels-image img {
    width: 100%;
    max-width: 650px;
    height: auto;
    padding: 10px;
    gap: 10px;
}

.wheels-content-bottom {
    display: none; /* Oculto en desktop */
}
/* mercedes-maybach */

/* footer-background */
.footer-background {
    background-color: var(--footer-bg);
    color: var(--primary-color);
}

.footer-background-content {
    display: flex;
    justify-content:space-around;
    padding: 20px 210px 20px 210px;
    gap: 100px;
    align-items: center;
}

.footer-background-content p {
    font-size: var(--font-size-medium);
    color: var(--primary-color);
    font-weight: var(--font-weight-usual);
    line-height: 21px;
    max-width: 720px;
}

.btn_footer {
    background-color: var(--primary-color);
    min-width: 200px;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    padding: 14.6px 1px 14.4px 1px;
    height: 50px;
}
/* footer-background */

/* footer-container */
.footer-container {
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-newsletter {
    text-align: center;
    margin-bottom: 40px;
}

.footer-newsletter h2 {
    font-size: 20px;
    font-weight: var(--font-weight-usual);
    padding-bottom: 20px;
    line-height: 30px;
}

.footer-newsletter p {
    padding-right: 14.97px;
    padding-bottom: 20px;
    padding-left: 5px;
    font-family: "Nuckle", sans-serif;
    font-weight: 539;
    font-size: 16px;
    line-height: 21px;

}

/* Contenedor del email y botón */
.email-container {
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 40px;
    overflow: hidden;
    width: fit-content;
    margin: 0 auto 15px;
    font-family: "Nuckle", sans-serif;
}

.email-container input {
    width: 320px;
    text-align: center;
    border: none;
    padding: 12px 15px;
    background-color: black;
    font-size: 14px;
    font-weight: 539;
    outline: none;
    flex-grow: 1;
    color: #FFFFFF;
}

.email-container button {
    padding: 15px 50px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 80px;
    font-size: 16px;
    font-weight: 539;
}

.custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.custom-checkbox input {
    display: none; /* Oculta el checkbox original */
}

.custom-checkbox span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 2.5px; 
    position: relative;
}

.custom-checkbox input:checked + span::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 5px;
    border: solid #FFFFFF;
    border-width: 0 0 2px 2px;
    transform: translate(-50%, 55%) rotate(-45deg);
}

.custom-checkbox a {
    color: #FFFFFF;
    text-decoration: underline;
}

.custom-checkbox a:hover {
    text-decoration: none;
}

.footer-newsletter a {
    color: white;
    text-decoration: underline;
}

.footer-newsletter .social-icons {
    margin-top: 20px;
}

.footer-newsletter .social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons {
    padding-top: 30px;
}

/* Sección de enlaces */
.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
    font-family: "Nuckle", sans-serif;
    font-weight: 591;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 20px;
    line-height: 30px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li a {
    font-weight: 539;
    color: #635f5f;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}
/* footer-container */

.footer-top-scroll {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: end;
}


/* Ajustes responsive generales */
@media (max-width: 768px) {
    /* Header */
    header {
        padding: 0 10px 0 10px;
    }

    #lista1 {
        display: none;
    }

    .menu {
        display: block;
    }

    /* Texto portada */
    .texto_portada {
        left: 20px;
    }

    h1.texto_portada {
        font-size: 24px !important;
        letter-spacing: 0.6px;
        top: 80px !important;
        left: 21px !important;
    }

    p.texto_portada {
        font-size: 14px !important;
        top: 110px !important;
        left: 21px !important;
    }

    #img_portada {
        width: 100% !important;
    }

    /* Contenedor 2 ajustes */
    #contenedor_2 {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    #contenedor_2 ul {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .li_contenedor_2 {
        width: auto;
        max-width: 90%;
        margin-top: 10px;
    }

    .top_margin {
        margin-top: 0;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .row div:last-child {
        display: none; /* Oculta los botones de colores */
    }

    .btn_contenedor_2 {
        display: block;
        text-align: center;
        width: 64px; /* Ancho fijo para el botón */
        margin: 0 auto;
        font-size: 12px;
    }

    .img_contenedor_2 {
        height: 153px;
        object-fit: contain;
    }

    /* Texto Mercedes-dealer */
    .dealer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 !important;
        padding: 0 !important;
        margin-left: 10% !important;
        width: 80% !important;
    }

    .dealer-title {
        font-size: 35px !important;
        line-height: 50px !important;
        text-align: center;
    }

    .dealer-subtitle {
        font-size: 25px !important;
        text-align: center;
        line-height: 23px !important;
    }

    /* Luces section */
    .lights-section {
        height: 329px !important;
        object-fit: contain;
    }

    .lights-content {
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lights-title {
        font-size: 36px !important;
        line-height: 37px !important;
        text-align: center;
        margin-bottom: 40px !important;
        width: 80% !important;
    }

    .lights-button {
        font-size: 16px !important;
    }

    .lights-image {
        height: 329px !important;
    }

    /* Slider */
    .slick-slider {
        width: calc(100% - 40px); /* Ajustado para considerar los márgenes */
        margin: 20px;
        padding-bottom: 20px;
        box-sizing: border-box;
    }

    .slick-slide {
        width: 110% !important;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slick-slide h2 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .slick-slide > img {
        width: 100% !important;
        height: auto;
        max-width: 100%;
    }

    .slick-slide button {
        margin-top: 20px;
        margin-bottom: 0;
    }

    /* Ajustes del scrollbar */
    .slick-slider::-webkit-scrollbar {
        height: 8px;
        width: 100%;
    }
    
    .slick-slider::-webkit-scrollbar-track {
        background: #D9D9D9;
        border-radius: 2px;
        width: calc(100% - 40px); /* Ajustado para coincidir con el contenedor */
    }
    
    .slick-slider::-webkit-scrollbar-thumb {
        background: #949494;
        border-radius: 2px;
        min-width: 90px;
        max-width: 90px;
    }

    /* Red as tentation section */
    #red-as-tentation {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #red-as-tentation > div {
        height: auto !important;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #red-as-tentation img {
        position: static !important;
        height: auto !important;
        width: 100% !important;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

    .text-overlay {
        position: static;
        width: 100%;
        margin: 0;
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 20px;
        box-sizing: border-box;
        background: #e7e6e6;
        color: #000000;   
    }

    .text-overlay h4 {
        font-size: 20px;
        line-height: 50px;
        color: #000000;
        width: 100%;
        text-align: center;
    }

    .text-overlay p {
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    /* Mercedes-maybach section */
    .mercedes-maybach {
        flex-direction: column;
        padding: 0 15px 0 15px;
    }

    .wheels-content {
        max-width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .wheels-content h4 {
        font-size: 28px;
        line-height: 41px;
        font-weight: var(--font-weight-usual);
        margin: 20px 0 20px 0;
    }

    .wheels-content p {
        display: none; /* Ocultar el párrafo original en móvil */
    }

    .wheels-content .learn-more {
        display: none; /* Ocultar el enlace original en móvil */
    }

    .wheels-content-bottom {
        display: block; /* Mostrar en móvil */
        text-align: center;
        padding: 20px;
    }

    .wheels-content-bottom p {
        font-size: 14px;
        color: #141615E5;
        line-height: 21px;
        font-weight: var(--font-weight-usual);
        margin: 0;
        text-align: left;
    }

    .wheels-content-bottom .learn-more {
        display: inline-block;
        padding-top: 29px;
        font-size: 18px;
        line-height: 15px;
        color: #141615E5;
        text-decoration: none;
        font-weight: var(--font-weight-usual);
        padding-bottom: 10px;
    }

    .wheels-image img {
        max-width: 100%;
        border-radius: 15px;
        margin:0;
        padding:0;
    }

    .ocultar-en-mobile {
        display: none;
    }

    /* Footer */
    .footer-background-content {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
    }

    .footer-column {
        width: 100%;
        text-align: center;
    }

    .email-container {
        width: 100%;
    }

    .email-container button {
        padding: 15px 30px;
        border: none;
        background-color: white;
        color: black;
        font-weight: bold;
        cursor: pointer;
        border-radius: 80px;
        font-size: 16px;
        font-weight: 539;
    }

    .custom-checkbox {
        display: flex;
        align-items: flex-start;
        padding: 0 20px;
        font-size: 14px;
        gap: 10px;
    }

    .custom-checkbox span {
        flex-shrink: 0;
        margin-top: 3px;
    }

    .custom-checkbox label {
        display: inline;
        text-align: left;
        line-height: 1.4;
    }
}